@media screen and (max-width: 400px) {
    .container {
        grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
        padding: 0;
    }
    .icon {
        max-width: 50px;
        top: 10px;
    }
    h1 {
        font-size: 25px;
        font-weight: lighter;
        margin: 5px 0;
    }
    .title {
       margin: 0 15px;
    }
    h2 {
        font-size: 20px;
        font-weight: lighter;
        margin: 5px 0;
    }
    .starRanking {
        font-size: 25px;
    }
    span {
        margin-left: 10px;
        margin-right: 10px;
    }
    .grid-cell {
        margin: 5px;
    }
}

@media screen and (max-width: 800px) {
    .container {
        grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
        padding: 0;
    }
    h1 {
        font-weight: lighter;
        margin: 5px 0;
    }
    h2 {
        font-weight: lighter;
        margin: 5px 0;
    }
}